<div id="cover" [ngStyle]="{'top':stringSearched === true ? '12%' : '50%' }">
    <div class="tb">
        <p-autoComplete placeholder="Search" required [(ngModel)]="text" [suggestions]="results"
            (completeMethod)="search($event)"></p-autoComplete>
        <!-- <input type="text" placeholder="Search" required></div> -->
        <div class="td" id="s-cover">
            <button type="button" (click)="getResult()">
                <div id="s-circle"></div>
                <span></span>
            </button>
        </div>
    </div>